<h2>Add Post</h2>
<form (ngSubmit)="onSubmit(t)" #t="ngForm">
  <div class="form-group">
    <label for="id">Post id</label>
    <input type="text"
            class="form-control"
            id="id"
            name="id"
            required
            [(ngModel)]="post.id">
  </div>
  <div class="form-group">
    <label for="title">title</label>
    <input type="text"
            class="form-control"
            id="title"
            name="title"
            [(ngModel)]="post.title">     
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>