<my-spinner [visible]="isLoading"></my-spinner>
<my-post-form (postAddEvent)="addPost($event)"></my-post-form>
<div>
  <ul class="list-group posts">
  <li *ngFor="let post of posts" class="list-group-item" 
  [class.active]="currentPost == post"
  (click)="select(post)">
    <my-post [post]="post" 
    (deleteEvent)="deletePost($event)"
    (editEvent)="editPost($event)"></my-post>  
    <ul>
      <li *ngFor="let name of post.userNames">
        {{(name | async)?.name}}
      </li>
    </ul>
  </li>
  </ul>
</div>